<section id="hero">
  <div class="hero-container">
    <div class="col-md-4">
      <div class="text-container">
        <h4>Dear India, Go Online!</h4>
        <h3>House of Kilti shall be live soon.</h3>

        <br>
        <h4>To find more about us</h4>
        <!--<div class="social">
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-instagram"></i></a>
          <a href=""><i class="fa fa-envelope"></i></a>
        </div>-->
        <div>
          <a href="http://www.facebook.com/houseofkilti" target="_blank">
            <button class="btn btn-facebook"><i class="fa fa-facebook"></i></button>
          </a>
          <a href="http://www.instagram.com/houseofkilti" target="_blank">
            <button class="btn btn-instagram"><i class="fa fa-instagram"></i></button>
          </a>
          <a href="mailto:info@houseofkilti.com" target="_blank">
            <button class="btn btn-envelope"><i class="fa fa-envelope"></i></button>
          </a>
        </div>
      </div>

    </div>
    <!--<div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>  -->
  </div>
</section>
